* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.feature {
  background: rgba(101, 115, 239, 0.04);
  padding: 30px 0 3px 0px;
  .feature-header {
    font-weight: 400;
    text-align: center;
  }
  .feature-contents {
    div {
      padding: 10px 0px;
    }
    .alignText {
      text-align: center;
    }
    padding: 30px 5px;
  }
}

@include tabletP {
  .feature {
    padding: 100px;
    .feature-contents {
      display: grid;
      gap: 50px 200px;
      grid-template-areas:
        "feature-various feature-easy"
        "feature-just feature-download";
      .feature-various {
        grid-area: feature-just;
      }
      .feature-easy {
        grid-area: feature-download;
      }
      .feature-just {
        grid-area: feature-easy;
      }
      .feature-download {
        grid-area: feature-various;
      }
      .alignText {
        text-align: left;
      }
    }
  }
}
